---
let title = 'Test Blog';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
		</head>
		<body>
			<main>
				<header class="shadow mb-8">
					<div>
						<a href="/" class="block text-black text-2xl font-bold text-center py-4">
							Astro Blog
						</a>
					</div>
				</header>
				<div class="container mx-auto my-4">
					<slot/>
				</div>
			</main>
    </body>
</html>
